{% extends "modelo.html" %}
{% block conteudo %}
<h1 class="product-title">Kit Arduino</h1>
<main>
    <div class="container">
      <div class="product">
        <div class="product-image">
            <img class="arduino_main" src="../static/img/kitarduino.png">
        </div>
        <div class="product-details">
          <p class="product-price">R$ 350,00</p>
          <p class="product-description">
            01 	Placa Uno R3
            01 	Cabo USB 2.0 de 30cm
            01 	Display LCD 16x2 (com conectores soldados)
            02 	Display de 7 segmentos com 1 digito
            01 	Sensor de Distância Ultrassônico
            01 	Controle Remoto Ir
            01 	Receptor Universal Ir
            01 	Real Time Clock DS1307
            01 	Módulo Leitor RFID-RC522
            01 	Cartão Padrão S50 em branco
            01 	Tag (tipo chaveiro) Padrão S50
            01 	Módulo Sensor de Chuva
            01 	Sensor de Umidade do Solo
            01 	Placa de controle para Sensor de Solo
            01 	Teclado Matricial De Membrana
            01 	Sensor De Umidade e Temperatura Dht11
            01 	Protoboard 830 Pontos
            30 	Jumper Macho-Macho variados
            20 	Jumper Macho-Femea
            01 	Módulo Relé 2 Canais
            01 	Motor DC
            01 	Micro Servo 9g SG90
            01 	Sensor de Temperatura NTC
            01 	Sensor de Luz LDR
            01 	Buzzer Ativo 5V
            05 	LED Vermelho
            05 	LED Amarelo
            05 	LED Verde
            15 	Resistor 330Ω
            05 	Resistor 1KΩ
            05 	Resistor 10KΩ
            04 	Diodo 1N4007
            01 	Potenciômetro 10KΩ
            01 	Potenciômetro Trimpot 10KΩ
            04 	Capacitor Cerâmico 10nF
            01 	Transistor NPN BC548
            01 	Transistor PNP BC558
            04 	Capacitor Cerâmico 100nF
            02 	Capacitor Eletrolítico 10uF
            02 	Capacitor Eletrolítico 100uF
            05 	Chave Tactil (Push-Button)
          </p>
          <button class="buy-btn">Comprar Agora</button>
        </div>
      </div>
    </div>
  </main>

{% endblock %}