{% extends "modelo.html" %}
{% block conteudo %}

<h1 class="product-title">Pic16f628</h1>
<main>
    <div class="container">
      <div class="product">
        <div class="product-image">
            <img class="arduino_main" src="../static/img/pic16f628.jpg">
        </div>
        <div class="product-details">
          <p class="product-price">R$ 23,00</p>
          <p class="product-description">
            PIC16F628A-I/P é um poderoso e eficiente componente de fácil 
            programação e comumente empregado no desenvolvimento de pequenos 
            projetos eletrônicos de modo a controlar o funcionamento de sensores 
            e componentes.

          </p>
          <button class="buy-btn">Comprar Agora</button>
        </div>
      </div>
    </div>
  </main>

{% endblock %}
