{% extends "modelo.html" %}
{% block conteudo %}

<h1 class="product-title">Protoboard</h1>
<main>
    <div class="container">
      <div class="product">
        <div class="product-image">
            <img class="arduino_main" src="../static/img/protoboard.jpg">
        </div>
        <div class="product-details">
          <p class="product-price">R$ 10,00</p>
          <p class="product-description">
            protoboard é uma placa de ensaio que serve como um protótipo 
            de um aparelho eletrônico, com uma matriz de contatos que 
            possibilita construir circuitos de teste sem que haja necessidade 
            de solda e, assim, garantindo segurança e agilidade em diferentes atividades.

          </p>
          <button class="buy-btn">Comprar Agora</button>
        </div>
      </div>
    </div>
  </main>

{% endblock %}
