{% extends "modelo.html" %}
{% block conteudo %}

<h1 class="product-title">Kit Raspberry</h1>
<main>
    <div class="container">
      <div class="product">
        <div class="product-image">
            <img class="arduino_main" src="../static/img/kit raspberry.jpg">
        </div>
        <div class="product-details">
          <p class="product-price">R$ 750,00</p>
          <p class="product-description">
            Este é o Kit Raspberry Pi 4 8GB Essential, que possui todas 
            as peças necessárias pra você iniciar seus projetos com esse mini 
            computador. Faça seu video game usando o RetroPie, ou mesmo seu 
            totem, estação de trabalho, simulador, ou qualquer outro projeto 
            que você precise fazer com essa poderosa plataforma.

          </p>
          <button class="buy-btn">Comprar Agora</button>
        </div>
      </div>
    </div>
  </main>

{% endblock %}
